= form_for @catalog do |f|
  = render 'shared/errors_messages', object: f.object

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save', id: "save_record"
