%p#notice= notice

%p
  %b Name:
  = @post.name
%p
  %b Description:
  = @post.description

= link_to 'Edit', edit_catalog_path(@post), id: "edit_record_#{@post.id}"
\|
= link_to 'Back', catalogs_path, id: 'back_page'
