= form_for @product do |f|
  = render 'shared/errors_messages', object: f.object

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :catalog_id
    = f.number_field :catalog_id
  .actions
    = f.submit 'Save'
