%h1 Listing products

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Price
      %th Catalog
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= product.price
        %td= product.catalog_id
        %td= link_to 'Show', product, id: "show_record_#{product.id}"
        %td= link_to 'Edit', edit_product_path(product), id: "edit_record_#{product.id}"
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, id: "destroy_record_#{product.id}"

%br

= link_to 'New Product', new_product_path, id: "new_record"
