%p#notice= notice

%p
  %b Name:
  = @post.name
%p
  %b Description:
  = @post.description
%p
  %b Price:
  = @post.price
%p
  %b Catalog:
  = @post.catalog_id

= link_to 'Edit', edit_product_path(@post), id: "edit_record_#{@post.id}"
\|
= link_to 'Back', products_path, id: 'back_page'
